#wrapper{
    width:950;
    background-color:silver;  
    margin:10px auto;
    padding:20px;
    color:white;
    font-size:30px;
    border:solid black;
}
    #header{
        
        min-height:100px;
        background-color:gray;
        border:solid black; 
        color:black;
    }
        .nav{
        height:200px;
        margin:0px;
        background-color:rgb(19, 140, 161);
        border:solid black;
        color:white;
        justify-content:space-around;     
        }
h1
{
    color:white;
    margin:5px;
}
h3
{
    color:black;
    margin:15px;
}
h4{
    background-color:white;
    border-radius:25px;
    color:purple;
    margin:10px;
    justify-content:space-around;
}
h5{
    margin:40px;
    justify-content:space-around;
}
.btn-primary{
background-color: purple; 
padding:0px;
margin:20px;
border-radius:10px;
justify-content:space-around;
}
.dropdown
{
background-color: white;
border:solid black;
margin:10px;
}
.card{
    
    background-color: rgb(19, 140, 161);
margin:5px;
}
h6{
    background-color: white;
    color:black;
    margin: 5px;
}